#GameLinks {
    /* border: 2px black solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    margin-top: 20px;
    gap: 20px;
}

#GameLinks button {
    width: 500px;
    height: 100px;
    border: #22333b 5px solid;
    border-radius: 15px;
    background: none;
    font-size: 2rem;
}

#GameLinks button:hover {
    background-color: #ebebeb;
}