/* https://coolors.co/0a0908-22333b-ffffff-5e503f-d90368 */

body {
    background-color: #22333b;
    display: flex;
    justify-content: center;
    /* padding: 0 100px; */
    color: #22333b;
}

canvas {
    display: block;
}

button {
    color: #22333b;
}

a {
    all:unset;
}

#mainContainer {
    /* border: 1px black solid; */
    background-color: #ffffff;
    border-radius: 10px;
    width: 1000px;
    /* margin: 0 30%; */
    height: 90vh;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;    
    flex-direction: column ;
    align-items: center;
    border-bottom: #d90368 5px solid;
}

#headerNav {
    display:flex;
    flex-direction: row;
    gap:20px;
}

#headerNav button {
    font-size:1rem;
    width:100px;
    background: none;
    border: #22333b 3px solid;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    padding-top: 10px;
    transition: background-color 0.1s linear;
    transition: border-color 0.1s linear;
}

#headerNav button:hover {
    /* background-color: #d90368; */
    border-color: #d90368;
}

#contactMe {
    position: absolute;
    color: #ffffff;
    bottom: 10px;
    right: 10px;
    background-color: #d90368;
    border-radius: 100%;
    padding: 5px;
    z-index: 5;
    transition: background-color 0.3s linear;
}

#contactMe:hover {
    background-color: #d9036700;
    /* display: none; */
}

#footerContent {
    position:absolute;
    bottom:0px;
    border-top:#d90368 5px solid;
    width:100%;
    padding: 5px;
}

#opener {
    background-color: #e9e9e9;
    border-radius: 25px;
    position:fixed;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%) ;
    width:300px;
    height:300px;
    padding: 25px;
}

#opener form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

#opener form label {
    display:flex;
    flex-direction: column;
}